@import "sass-inline-svg.scss";
 
@mixin icon {
  display: inline-block;
  background-size: 16px 21px;
  height: 16px;
  width: 16px;
  content: ' ';
}

.gitxpress__icon {
  margin-right: 2px !important;
	&--apple:before {
    @include icon;
    background-image: inline-svg('apple');
	}

  &--editorconfig:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('editorconfig');
  }

  &--folder:before {
    @include icon;
    background-image: inline-svg('folder');
	}

  &--gitignore:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('git_ignore');
	}

  &--github:before {
        width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('github', #24292e);
	}

  &--license:before {
        width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('license');
	}

  &--markdown:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('markdown');
	}

  &--javascript:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('javascript');
	}

  &--json:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('json');
	}

  &--typescript:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('typescript', #294e80);
	}

  &--image:before {
        width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('image');
	}

  &--newFile:before {
        width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('new-file');
	}

  &--babel:before {
    width: 16px;
    height: 18px;
    background-size: 20px 18px;
    margin-left: -4px;
    content: " ";
    display: inline-block;
    background-image: inline-svg('babel');
	}
}
