


.gitxpress-wrapper {
	position: absolute;
  top: 0;
}

.gitxpress-sidebar__header {
	margin-right: -1px;
}

.gitxpress-sidebar__wrapper{
    z-index: 9999;
    position: fixed;
    left: -301px;
    width: 301px;
		border-right: 1px solid #e1e4e8;
		background-color: #FFFFFF;
}

.gitxpress-sidebar__tree {
}

.menu-link {
	position: fixed;
	top: 10px;
	cursor: pointer;
	background-color: #24292e
}

.gitxpress--relative {
	position: relative;
}

.gitexpress-header-nav-link {
	display: block;
	padding: 5px 10px;
	font-weight: 600;
	line-height: 20px;
	color: rgba(255,255,255,0.75);
}