.gitxpress-wrapper {
	position: absolute;
  top: 0;
}

.gitxpress-sidebar__header {
	margin-top: -24px;
}

.gitxpress-sidebar__wrapper{
    z-index: 9999;
    position: fixed;
    left: -301px;
    width: 301px;
		top: 48px !important;
		border-right: 1px solid #e1e4e8;
		background-color: #FFFFFF;
}

.gitxpress-sidebar__tree {
	margin-top: 48px;
}

.menu-link {
	position: absolute;
	top: 10px;
}

.gitxpress--relative {
	position: relative;
}