.easytree-container{
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	white-space: nowrap;
	padding: 3px;
	color:#80a6cd;
}
.easytree-container:focus{
	outline:none;
}

ul.easytree-container ul{
	padding: 0 0 0 16px;
	margin: 0;
}
.easytree-container ul:focus {
    outline: none;
}
ul.easytree-container li{
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	-moz-background-clip:border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background-attachment: scroll;
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-image: none;  /* no v-lines */
	margin:0;
	padding:1px 0 0 0;
}
.easytree-title {
	display: inline-block; /* Better alignment, when title contains <br> */
	padding-left: 3px;
	padding-right: 3px; /* Otherwise italic font will be outside bounds */
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
	border: 1px solid transparent; /* reserve some space for status borders */
	border-radius: 0;
	text-decoration: none;
	cursor: pointer;
	color: #888;
	text-decoration: none;
	margin-left: 5px;
}

span.easytree-focused {
	outline: 1px dotted black;
	color: white;
}