.gitbrowser-action {
	position:fixed;
	top:41px;
	z-index:9999999999;
	display:block;
	transform: rotate(90deg);
	transform-origin: left top 0;
	color:#333;
	font-size:10px;
}

.vertical-text {
	-ms-transform: rotate(90deg);	
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	-ms-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-webkit-transform-origin: left top 0;	
	transform-origin: left top 0;
	border: 1px solid #ccc;
	text-transform: uppercase;
	text-transform: 1px 1px 0px rgba(0, 0, 0, 0.5);
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #f7f7f7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f7f7f7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#f7f7f7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2f2f2 0%,#f7f7f7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

#treeview:focus{
	outline:none;
}

span.easytree-expander{
	height:10px; 
	width:10px; 
	display:inline-block; 
	position:relative;
} 
.easytree-expander{
	width:10px;
	cursor:pointer;
}
.expand-icon:before{
	content:''; 
	height:0; 
	width:0; 
	display:block; 
	border:5px transparent solid; 
	border-right-width:0; 
	border-left-color:#333; 
	position:absolute; 
	top:0px; 
	left:0px;
}


.git-header{
	padding: 6px;
}

.git-top-header{
	border: 1px solid #e5e5e5;
	width:auto;
}

.gitbrowser-action span{
	height:20px; 
	width:20px; 
	display:inline-block; 
	position:relative;
	padding: 0;
} 

.maxmize, .minimize{
	background: #333;
}

.maxmize:before, .maxmize:after, .minimize:before{
	content:''; 
	height:2px; 
	width:14px; 
	display:block; 
	background:#fff; 
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px; 
	position:absolute; 
	top:9px; 
	left:3px;
}

.maxmize:after{
	height:14px; 
	width:2px; 
	top:3px; 
	left:9px;
}